:root {
  --primary-color: #1f2025;
  --difuse-white: rgb(182, 179, 179);
  --project-blue: #459be6;
  --primary-font: "Rubik", sans-serif;
}

::-webkit-scrollbar {
  width: 2px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: transparent;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

*{
    font-family: var(--primary-font);
}